@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

* {
    font-family: 'General Sans', sans-serif;
}

body {
    @apply bg-[#222222] text-white dark:bg-gray-50 font-normal
}

::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    opacity: 0;
}